section {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h1 {
    font-family: sans-serif;
  }

  input {
    margin: 5px 0;
    width: 300px;
    height: 30px;
    font-size: 16px;
    border-color: #458aff;
    border-style: solid;
    text-align: center;
    padding: 0;
  }
}
